
body{
    background-color: black;
}



.container{
  background-color:blue;

}

ul li {
    color:white;
    display: inline-block;
    margin: 2rem;
}

h1{
    color: Blue;
    font-size: 10rem;
   text-align: center;
   font-weight: bold;
}

h2{
    color: blue;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    

}

#rapper {
display: block;
width : 25%;
margin-left: auto;
margin-right: auto;


}

#perform{
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#performance2 {
    width:25%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#clubDrink {
    width:50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#bottom{
    background-color: blue;
    padding: 1rem;
}

#aboutMe{
    text-align: center;
    color:blue;
    font-size: 6rem;
}

#color{
    color: black;
}